<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  <connectionStrings>
    <add name="FormGenerator" connectionString="Data Source=ESQUIBEL2;Initial Catalog=FormGenerator;User ID=sa;Password=localhost"/>
    <!--<add name="FormGenerator" connectionString="user id=Esri_FormData;password=buD*27ETR&amp;tR;Data Source=RED-DBS-SQL-PT3;Database=FormGenerator" />-->

  </connectionStrings>
  <appSettings>
    <add key="AprimoEmailTest" value="jesquibel@esri.com"/>
    <add key="AprimoEmailLive" value="aprimo_main@esri.com "/>
    <!--<add key="AprimoEmail" value="org_mktg_campaignprod@esri.com"/>-->
    <!--<add key="AprimoEmail" value="aprimo_main@esri.com"/>-->
  </appSettings>
</configuration>
