<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="FormGenerator" connectionString="Data Source=ESQUIBEL2;Initial Catalog=FormGenerator;User ID=sa;Password=localhost"/>-->
    <add name="FormGenerator" connectionString="user id=Esri_FormData;password=buD*27ETR&amp;tR;Data Source=RED-DBS-L01-PT2;Database=FormGenerator"/>
  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="AprimoEmailTest" value="jesquibel@esri.com"/>
    <add key="AprimoEmailLive" value="aprimo_main@esri.com "/>
  </appSettings>

</configuration>

